.main {
  position: relative;
  z-index: 1;
}

.background img {
  width: 100%;
  height: auto;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
}

.column {
  float: right;
  width: 30%;
  background-color: rgba(219, 229, 22, 0.7);
  margin-left:20px;
  margin-right: 15px;
  border: 4px dashed black;
  padding: 5px;
}

.column p {
  margin: 0px;
}

.pic img {
  width: 250px;
  height: auto;
  float: left;
  margin-right: 15px;
  padding: 12px;
}

p
{font-size: 20px;}

h1{ text-align: center;
font-size: 40px}
